body {
    background-color: #0F0F0F;
}

.card{
    width: 300px;
    height: 300px;
    background-color: #000;
    border-radius: 12px;
    transition: all 300ms ease-in; /* Pendente próxima aula */
}

.card:hover{
    -webkit-transform: scale(1.03); /*Expande (zoom) o elemento*/
}

.card-logo{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.card-conteudo{
    padding: 20px;  /* espeçamento interno */
    text-align: center; /* alinha ao centro */
}

.card-titulo{
    color: #FFF;
}

.card-botao-acessar{
    width: 80%;
    height: 35px;
    border-radius: 12px; /* Arredonda as extremidades */
    border: solid 2px #0F0F0F;
}

